<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>사용자등록완료</title>
	<style>
		body {
			background-color: #bfbfbf;
		}
		#box {
			background-color: #ffffff;
			border-radius: 10px;
			padding: 50px;
		}
		#imgError {
			width: 150px;
			height: 150px;
		}
		#errorBoard {
			margin-top: 10px;
			margin-left: 50px;
		}
	</style>
</head>
<body>
	<div id="box">
		<div id="errorBoard">
			<h1>사용자 등록 완료</h1>
			<p th:text="|${name}님, 등록이 완료되었습니다|"></p>
			<p><a href="http://localhost:8080/siteuser">메인화면으로</a></p>
		</div>
	</div>
</body>
</html>